## Visual Studio temporary files
.vs/
**/obj/
**/bin/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache files
*.[Cc]ache
!*.[Cc]ache/

## Others
*.tmp
*.temp
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Visual Studio Code
.vscode/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/

## Visual Studio for Mac
.vscode/
.DS_Store