USE [master]
GO

DROP DATABASE IF EXISTS LRMSDB;
GO

-- Create the database
CREATE DATABASE LRMSDB;
GO

-- Use the created database
USE LRMSDB;

GO
USE [LRMSDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[author_id] [int] IDENTITY(1,1) NOT NULL,
	[role] [int] NULL,
	[project_id] [int] NOT NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](200) NULL,
	[status] [int] NULL,
	[project_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompletionRequestDetails]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompletionRequestDetails](
	[completion_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[budget_remaining] [decimal](18, 2) NULL,
	[budget_reconciled] [bit] NOT NULL,
	[completion_summary] [nvarchar](max) NULL,
	[budget_variance_explanation] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[completion_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conference]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conference](
	[conference_id] [int] IDENTITY(1,1) NOT NULL,
	[conference_name] [nvarchar](255) NULL,
	[conference_ranking] [int] NULL,
	[location] [nvarchar](255) NULL,
	[presentation_date] [datetime] NULL,
	[acceptance_date] [datetime] NULL,
	[presentation_type] [int] NULL,
	[project_id] [int] NULL,
	[conference_funding] [decimal](18, 2) NULL,
	[conference_status] [int] NULL,
	[conference_submission_status] [int] NULL,
	[reviewer_comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[conference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conference_expense]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conference_expense](
	[expense_id] [int] IDENTITY(1,1) NOT NULL,
	[accomodation] [nvarchar](255) NULL,
	[accomodation_expense] [decimal](18, 2) NULL,
	[travel] [nvarchar](255) NULL,
	[travel_expense] [decimal](18, 2) NULL,
	[conference_id] [int] NULL,
	[expense_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[expense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[document_id] [int] IDENTITY(1,1) NOT NULL,
	[upload_at] [datetime] NULL,
	[document_url] [nvarchar](500) NULL,
	[file_name] [nvarchar](255) NULL,
	[document_type] [int] NULL,
	[project_id] [int] NULL,
	[project_phase_id] [int] NULL,
	[project_resource_id] [int] NULL,
	[conference_expense_id] [int] NULL,
	[fund_disbursement_id] [int] NULL,
	[uploaded_by] [int] NULL,
	[request_id] [int] NULL,
	[conference_id] [int] NULL,
	[journal_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fund_Disbursement]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fund_Disbursement](
	[fund_disbursement_id] [int] IDENTITY(1,1) NOT NULL,
	[fund_request] [decimal](18, 2) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[appoved_by] [int] NULL,
	[disburse_by] [int] NULL,
	[project_id] [int] NULL,
	[quota_id] [int] NULL,
	[project_phase_id] [int] NULL,
	[user_request] [int] NULL,
	[RejectionReason] [nvarchar](500) NULL,
	[ConferenceId] [int] NULL,
	[FundDisbursementType] [int] NULL,
	[JournalId] [int] NULL,
	[ExpenseId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fund_disbursement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group_Member]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Member](
	[group_member_id] [int] IDENTITY(1,1) NOT NULL,
	[role] [int] NULL,
	[join_date] [datetime] NULL,
	[status] [int] NULL,
	[user_id] [int] NULL,
	[group_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[group_member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_type] [int] NULL,
	[group_name] [nvarchar](200) NULL,
	[max_member] [int] NULL,
	[current_member] [int] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NULL,
	[group_department] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invitations]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitations](
	[invitation_id] [int] IDENTITY(1,1) NOT NULL,
	[status] [int] NULL,
	[message] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[group_id] [int] NULL,
	[respond_date] [datetime] NULL,
	[invited_role] [int] NULL,
	[recieve_by] [int] NULL,
	[sent_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invitation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journal]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journal](
	[journal_id] [int] IDENTITY(1,1) NOT NULL,
	[journal_name] [nvarchar](255) NULL,
	[publisher_name] [nvarchar](255) NULL,
	[publisher_status] [int] NULL,
	[doi_number] [nvarchar](100) NULL,
	[acceptance_date] [datetime] NULL,
	[publication_date] [datetime] NULL,
	[submission_date] [datetime] NULL,
	[reviewer_comments] [nvarchar](max) NULL,
	[project_id] [int] NULL,
	[journal_funding] [decimal](18, 2) NULL,
	[journal_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[journal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[project_id] [int] NULL,
	[title] [nvarchar](255) NULL,
	[message] [nvarchar](max) NULL,
	[status] [int] NULL,
	[is_read] [bit] NULL,
	[invitation_id] [int] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project_resources]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_resources](
	[project_resource_id] [int] IDENTITY(1,1) NOT NULL,
	[resource_name] [nvarchar](200) NOT NULL,
	[resource_type] [int] NULL,
	[cost] [decimal](18, 2) NULL,
	[quantity] [int] NULL,
	[acquired] [bit] NULL,
	[project_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[project_resource_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectPhase]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectPhase](
	[project_phase_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[status] [int] NULL,
	[assign_to] [int] NULL,
	[assign_by] [int] NULL,
	[project_id] [int] NULL,
	[spent_budget] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[project_phase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectRequests]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectRequests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[phase_id] [int] NULL,
	[timeline_id] [int] NULL,
	[request_type] [int] NOT NULL,
	[requested_by] [int] NOT NULL,
	[requested_at] [datetime] NOT NULL,
	[assigned_council] [int] NULL,
	[approval_status] [int] NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[fund_disbursement_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[project_id] [int] IDENTITY(1,1) NOT NULL,
	[project_name] [nvarchar](255) NULL,
	[project_type] [int] NULL,
	[description] [nvarchar](max) NULL,
	[approved_budget] [decimal](18, 2) NULL,
	[spent_budget] [decimal](18, 2) NOT NULL,
	[status] [int] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[methodlogy] [nvarchar](max) NOT NULL,
	[approved_by] [int] NULL,
	[created_by] [int] NULL,
	[group_id] [int] NULL,
	[department_id] [int] NULL,
	[sequence_id] [int] NULL,
	[RejectionReason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotas]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotas](
	[quota_id] [int] IDENTITY(1,1) NOT NULL,
	[allocated_budget] [decimal](18, 2) NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[project_id] [int] NULL,
	[allocated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[quota_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timeline]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timeline](
	[timeline_id] [int] IDENTITY(1,1) NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[event] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[timeline_type] [int] NULL,
	[created_by] [int] NULL,
	[sequence_id] [int] NOT NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[timeline_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimelineSequence]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimelineSequence](
	[sequence_id] [int] IDENTITY(1,1) NOT NULL,
	[sequence_name] [nvarchar](255) NOT NULL,
	[sequence_description] [nvarchar](max) NULL,
	[sequence_color] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [int] NOT NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sequence_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/8/2025 11:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](255) NULL,
	[full_name] [nvarchar](200) NULL,
	[email] [nvarchar](200) NULL,
	[phone] [nvarchar](20) NULL,
	[role] [int] NULL,
	[level] [int] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[department_id] [int] NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
	[LastLogin] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- Backup the database before cleaning data
USE [master]
GO

-- Set the backup file location - modify the path as needed
BACKUP DATABASE [LRMSDB] 
TO DISK = N'D:\Programming\LRMSDB_BeforeCleanup.bak' 
WITH DESCRIPTION = N'Full backup of LRMSDB before data cleanup', 
NAME = N'LRMSDB-Full Database Backup', 
STATS = 10
GO

PRINT 'Database backup completed successfully'
GO

-- Add data cleanup script
-- This script will delete data from all tables except Users and Department tables
USE [LRMSDB]
GO

-- Disable foreign key constraints temporarily
EXEC sp_MSforeachtable 'ALTER TABLE ? NOCHECK CONSTRAINT ALL'
GO

-- Delete data from all tables except Users and Department
DELETE FROM [dbo].[__EFMigrationsHistory] WHERE 1=1;
DELETE FROM [dbo].[Author] WHERE 1=1;
DELETE FROM [dbo].[Category] WHERE 1=1;
DELETE FROM [dbo].[CompletionRequestDetails] WHERE 1=1;
DELETE FROM [dbo].[Conference] WHERE 1=1;
DELETE FROM [dbo].[Conference_expense] WHERE 1=1;
DELETE FROM [dbo].[Documents] WHERE 1=1;
DELETE FROM [dbo].[Fund_Disbursement] WHERE 1=1;
DELETE FROM [dbo].[Group_Member] WHERE 1=1;
DELETE FROM [dbo].[Groups] WHERE 1=1;
DELETE FROM [dbo].[Invitations] WHERE 1=1;
DELETE FROM [dbo].[Journal] WHERE 1=1;
DELETE FROM [dbo].[Notifications] WHERE 1=1;
DELETE FROM [dbo].[Project_resources] WHERE 1=1;
DELETE FROM [dbo].[ProjectPhase] WHERE 1=1;
DELETE FROM [dbo].[ProjectRequests] WHERE 1=1;
DELETE FROM [dbo].[Projects] WHERE 1=1;
DELETE FROM [dbo].[Quotas] WHERE 1=1;
DELETE FROM [dbo].[Timeline] WHERE 1=1;
DELETE FROM [dbo].[TimelineSequence] WHERE 1=1;
GO

-- Re-enable foreign key constraints
EXEC sp_MSforeachtable 'ALTER TABLE ? CHECK CONSTRAINT ALL'
GO

-- Reset identity columns for tables with identity columns
DBCC CHECKIDENT ('[dbo].[Author]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Category]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[CompletionRequestDetails]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Conference]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Conference_expense]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Documents]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Fund_Disbursement]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Group_Member]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Groups]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Invitations]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Journal]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Notifications]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Project_resources]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[ProjectPhase]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[ProjectRequests]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Projects]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Quotas]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Timeline]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[TimelineSequence]', RESEED, 0);
GO

PRINT 'All data cleaned except Users and Department tables'
GO