<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1706c76f-8635-4fa9-bf52-f9a47614f1d0/resourceGroups/LRMSAPIv1/providers/Microsoft.Web/sites/lrms-api</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lrms-api-hgdyf4ere7gmbff5.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e077f4bc-2b25-421a-bfe3-55f3fb58eeee</ProjectGuid>
    <PublishUrl>https://lrms-api-hgdyf4ere7gmbff5.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$lrms-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>